{% extends "base.html" %}

{% block title %}Free IT Certification Practice Questions & Exams - {{ settings.APP_NAME }}{% endblock %}
{% block meta_description %}Free IT certification practice questions for AWS, Azure, GCP, CompTIA and more. In depth explanations. No sign-up required - study free and pass first time.{% endblock %}
{% block og_title %}Free IT Certification Practice Questions & Exams - {{ settings.APP_NAME }}{% endblock %}
{% block og_description %}Free IT certification practice questions for AWS, Azure, GCP, CompTIA and more. In depth explanations. No sign-up required - study free and pass first time.{% endblock %}
{% block og_url %}{{ settings.APP_URL }}/{% endblock %}

{% block content %}
  {% include "components/common/hero.html" %}
{% endblock %}
